<header class="bg-gray-900 shadow-md p-4 flex items-center justify-between">
  <a href="/dashboard" class="flex items-center space-x-2">
    <img src="../imagens/logo.png" alt="QRize" class="h-28 w-auto" />
  </a>
  <span class="text-sm text-gray-300">ERP & CRM para Varejo</span>
</header>
